<div class="m-login__signin">
   <div class="m-login__title">
      <h3>Iniciar Sesión</h3>
   </div>

   <div [hidden]="!message" class="m-alert m-alert--outline m-alert--outline-2x alert fade show" [ngClass]="{'alert-danger': type === 'error', 'alert-success': type === 'success', 'alert-info': type === 'info'}"
      role="alert" #alertNotice>
      <span [innerHTML]="message"></span>
   </div>


   <!--===================== FORMULARIO =====================-->
   <form [formGroup]="loginForm" class="m-login__form m-form">

      <!-- <div class="form-group">
         <mat-form-field>
            <mat-label>Correo Electrónico</mat-label>
            <input matInput type="email" name="email" placeholder="Correo Electrónico" autocomplete="nope" [(ngModel)]="model.email"
               #email="ngModel" email="true" required="">
         </mat-form-field>
      </div> -->

      <!-- <div class="form-group">
         <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput minlength="4" type="password" name="password" placeholder="Password" autocomplete="nope"
               [(ngModel)]="model.password" #password="ngModel" required="">
         </mat-form-field>
      </div> -->
      <div class="form-group has-feedback">
         <input class="form-control" type="email" placeholder="Correo Electrónico" formControlName="email" maxlength="35"
            autocomplete="nope" required />

         <!--===================== ERRORES DE EMAIL =====================-->
         <span class="text-danger" *ngIf="loginForm.controls['email'].hasError('required') && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
            Este campo es requerido
         </span>
         <span class="text-danger" *ngIf="loginForm.controls['email'].hasError('email') && (loginForm.controls['email'].dirty && loginForm.controls['email'].touched)">
            Este campo debe ser una dirección de correo electrónico válida
         </span>
         <!-- FIN ERRORES DE EMAIL -->
      </div>
      <div class="form-group has-feedback">
         <input class="form-control" type="password" placeholder="Contraseña" formControlName="password" minlegth="4"
            maxlength="15" autocomplete="new-password" required />
         <!--===================== ERRORES DE PASSWORD =====================-->
         <span class="text-danger" *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
            Este campo es requerido
         </span>
         <span class="text-danger" *ngIf="loginForm.controls['password'].hasError('minlength') && (loginForm.controls['password'].dirty && loginForm.controls['password'].touched)">
            La contraseña debe tener al menos 4 carácteres
         </span>
         <!-- FIN ERRORES DE PASSWORD  -->
      </div>

   </form>
   <!-- FIN FORMULARIO -->


   <!--===================== ACCIONES =====================-->
   <div class="m-login__action m-login__action--fit">
      <a href="javascript:;" (click)="forgotPasswordPage()" class="m-link">
         <span>¿Olvidó su contraseña?</span>
      </a>
      <!-- <m-spinner-button [options]="spinner" (click)="submit()">Sign In</m-spinner-button> -->
      <!-- <button mat-raised-button color="accent" (click)="submit()">Ingresar</button> -->
      <button class="btn btn-primary" (click)="submit()">Ingresar</button>
   </div>
   <!-- FIN ACCIONES -->


   <!--===================== LÍNEA HORIZONTAL =====================-->
   <div class="m-login__form-divider">
      <div class="m-divider">
         <span></span>
         <span>O INGRESE CON</span>
         <span></span>
      </div>
   </div>
   <!--FIN LÍNEA HORIZONTAL -->


   <!--===================== INGRESO USANDO REDES SOCIALES =====================-->
   <div class="m-login__options">
      <a href="javascript:;" mat-raised-button color="primary">
         <span>
            <i class="fab fa-facebook-f"></i>&nbsp;
            <span>Facebook</span>
         </span>
      </a>

      <a href="javascript:;" mat-raised-button color="accent">
         <span>
            <i class="fab fa-twitter"></i>&nbsp;
            <span>Twitter</span>
         </span>
      </a>

      <a href="javascript:;" mat-raised-button color="warn">
         <span>
            <i class="fab fa-google"></i>&nbsp;
            <span>Google</span>
         </span>
      </a>
   </div>
   <!--FIN REDES SOCIALES -->


</div>
