<!-- LEYENDA -->
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
   <div class="m-alert__icon">
      <i class="flaticon-exclamation m--font-brand"></i>
   </div>
   <div class="m-alert__text">
      En esta sección usted podrá administrar a todos los usuarios de la plataforma teniendo a su disposición
      herramientas de filtrado y búsqueda.
   </div>
</div>
<!-- FIN LEYENDA -->

<div class="m-portlet m-portlet--mobile">
   <!-- CARD HEADER -->
   <div class="m-portlet__head">
      <!-- TITULO HEADER -->
      <div class="m-portlet__head-caption">
         <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
               Listado de Usuarios
            </h3>
         </div>
      </div>
      <!-- FIN TITULO -->
      <!-- ACCIONES HEADER -->
      <div class="m-portlet__head-tools">
         <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
               <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                  m-dropdown-toggle="hover" aria-expanded="true">
                  <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                     <i class="la la-ellipsis-h m--font-brand"></i>
                  </a>
                  <div class="m-dropdown__wrapper">
                     <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                     <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                           <div class="m-dropdown__content">
                              <ul class="m-nav">
                                 <li class="m-nav__section m-nav__section--first">
                                    <span class="m-nav__section-text">Acciones</span>
                                 </li>
                                 <li class="m-nav__item">
                                    <a (click)="openCreateUser()" class="m-nav__link pointer">
                                       <i class="m-nav__link-icon flaticon-share"></i>
                                       <span class="m-nav__link-text">Crear Usuario</span>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
      <!-- FIN ACCIONES HEADER -->
   </div>
   <!-- FIN CARD HEADER -->

   <!-- CARD BODY -->
   <div class="m-portlet__body">

      <!-- SECCIÓN DE FILTRO Y BUSQUEDA -->
      <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
         <div class="row align-items-center">
            <div class="col-xl-9 order-2 order-xl-1">

               <form [formGroup]="userForm" style="display:inline;">
                  <div class="form-group m-form__group row align-items-center">
                     <div class="col-md-4">
                        <div class="m-form__group m-form__group--inline">
                           <div class="m-form__label">
                              <label>Rol:</label>
                           </div>
                           <div class="m-form__control">


                              <select formControlName="role" class="form-control m-bootstrap-select">
                                 <option value="">Todos</option>
                                 <option value="1">Administrador</option>
                                 <option value="2">Profesor</option>
                                 <option value="3">Estudiante</option>
                              </select>
                           </div>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                     </div>
                     <div class="col-md-4">
                        <div class="m-form__group m-form__group--inline">
                           <div class="m-form__label">
                              <label class="m-label m-label--single">Estado:</label>
                           </div>
                           <div class="m-form__control">
                              <select formControlName="status" class="form-control m-bootstrap-select" id="m_form_type">
                                 <option value="">Todos</option>
                                 <option value="true">Activo</option>
                                 <option value="false">Inactivo</option>
                              </select>
                           </div>
                        </div>
                        <div class="d-md-none m--margin-bottom-10"></div>
                     </div>
                     <div class="col-md-4">
                        <div class="m-input-icon m-input-icon--left">

                           <input formControlName="search" type="text" maxLength="25" class="form-control m-input"
                              placeholder="nombre, rut, correo, usuario">

                           <span class="m-input-icon__icon m-input-icon__icon--left">
                              <span>
                                 <i class="la la-search"></i>
                              </span>
                           </span>
                        </div>
                     </div>
                  </div>
               </form>

            </div>
            <div class="col-xl-3 order-1 order-xl-2 m--align-right">
               <button (click)="filter()" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill"
                  [disabled]="userForm.value.role == f_role && userForm.value.status == f_status && userForm.value.search == f_search">
                  <span>
                     <span>Filtrar</span>
                  </span>
               </button>
               <div class="m-separator m-separator--dashed d-xl-none"></div>
            </div>
         </div>
      </div>
      <!-- FIN FILTRO/BUSQUEDA -->

      <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

         <table class="cw-table">
            <thead>
               <tr>
                  <th class="center">#</th>
                  <th>Nombre</th>
                  <th>Apellido Paterno</th>
                  <th>Apellido Materno</th>
                  <th>Nro. de Documento</th>
                  <th>Correo Electrónico</th>
                  <th>Teléfono</th>
                  <th>Nombre de Usuario</th>
                  <th>Rol</th>
                  <th>Estado</th>
                  <th>Creado</th>
                  <th>Actualizado</th>
                  <th class="center">Acciones</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let user of users; let i=index">
                  <td>{{i+1}}</td>
                  <td class="nowrap">{{user.name}}</td>
                  <td>{{user.last_name}}</td>
                  <td>{{user.middle_name}}</td>
                  <td>{{user.document_no}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.phone_no}}</td>
                  <td>{{user.username}}</td>
                  <td>
                     <span *ngFor="let rol of user.roles" style="font-size:0.8rem; margin-top: 3px; color: #ffffff"
                        class="center m-badge m-badge--wide" [ngClass]="(rol == 1) ? 'm-badge--success' : (rol == 2 ? 'm-badge--warning' : 'm-badge--danger')">
                        {{rol | role}}
                     </span>
                  </td>
                  <td class="nowrap">
                     <span style="width: 100%">
                        <span class="m-badge m-badge--dot" [ngClass]="(user.active)?'m-badge--success':'m-badge--danger'"></span>
                        &nbsp;
                        <span class="m--font-bold" [ngClass]="(user.active)?'m--font-success':'m--font-danger'">
                           {{user.active ? 'Activo': 'Inactivo'}}</span>
                     </span>
                     <!--
                     <span style="font-size:0.9rem" class="m-badge m-badge--wide" [ngClass]="(user.active)?'m-badge--success':'m-badge--danger'">
                        {{user.active ? 'Activo': 'Inactivo'}}
                     </span>-->
                  </td>
                  <td class="nowrap">{{user.created_at | timeAgo}}</td>
                  <td class="nowrap">{{user.updated_at | timeAgo}}</td>
                  <td>
                     <span style="overflow:visible;position:relative;width:110px;display:block;text-align:center">
                        <a (click)="openUserEdit(user)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-edit"></i>
                        </a>
                        <a [swal]="deleteSwal" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-trash"></i>
                        </a>
                        <swal #deleteSwal (confirm)="deleteUser(user.id_user)" [options]="SWAL_DELETE_USER"></swal>
                        <swal #successSwal [options]="SWAL_SUCCESS_DELETE_USER"></swal>
                     </span>
                  </td>
               </tr>
            </tbody>
         </table>




         <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
            <ul class="m-datatable__pager-nav">
               <li (click)="getUsersPage(0)">
                  <a title="Primera" class="m-datatable__pager-link m-datatable__pager-link--first" [ngClass]="{'m-datatable__pager-link--disabled': (from < limit)}">
                     <i class="la la-angle-double-left"></i>
                  </a>
               </li>
               <li (click)="getUsersFrom(-limit)">
                  <a title="Anterior" class="m-datatable__pager-link m-datatable__pager-link--prev" [ngClass]="{'m-datatable__pager-link--disabled': (from < limit)}">
                     <i class="la la-angle-left"></i>
                  </a>
               </li>
               <!--
               <li>
                  <a class="m-datatable__pager-link m-datatable__pager-link-number" [ngClass]="{'m-datatable__pager-link--active'}">1</a>
               </li>
               <li>
                  <a class="m-datatable__pager-link m-datatable__pager-link-number">2</a>
               </li>-->
               <li *ngFor="let page of total_pages | fillArray" (click)="getUsersPage((page-1)*limit)">
                  <a class="m-datatable__pager-link m-datatable__pager-link-number" [ngClass]="{'m-datatable__pager-link--active': page == current_page}">{{page}}</a>
               </li>
               <li (click)="getUsersFrom(+limit)">
                  <a class="m-datatable__pager-link m-datatable__pager-link--next" [ngClass]="{'m-datatable__pager-link--disabled': ((from/limit)+1)==total_pages}">
                     <i class="la la-angle-right"></i>
                  </a>
               </li>
               <li (click)="getUsersPage(limit*(total_pages-1))">
                  <a class="m-datatable__pager-link m-datatable__pager-link--next" [ngClass]="{'m-datatable__pager-link--disabled': ((from/limit)+1)==total_pages}">
                     <i class="la la-angle-double-right"></i>
                  </a>
               </li>
            </ul>

            <!-- INFO DE LA TABLA -->
            <div class="m-datatable__pager-info">
               <!--
               <select class="m-datatable__pager-size" data-width="170px" data-selected="10">
                  <option value>seleccione tamaño de página</option>
                  <option value="10">10</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
               </select>-->
               <form [formGroup]="userForm" style="display:inline;">
                  <select formControlName="limit" class="m-datatable__pager-size" style="width:160px" (change)="kisa()">>
                     <option value="5">5</option>
                     <option value="10">10</option>
                     <option value="50">50</option>
                  </select>
               </form>

               <!-- <div class="dropdown bootstrap-select m-datatable__pager-size dropup" style="width: 70px">

                  <button type="button" class="btn dropdown-toggle btn-light" data-togle="dropdown" role="button" title="Select page size" aria-expanded="false">
                     <div class="filter-option">
                        <div class="filter-option-inner">10</div>
                     </div>
                     <span class="bs-caret">
                        <span class="caret"></span>
                     </span>
                  </button>
               </div>
               <div class="dropdown-menu" role="combobox" x-placement="top-start" style="max-height: 756.318px; overflow: hidden; min-height: 130px; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -3px, 0px);">
                  <div class="inner show" role="listbox"></div>
               </div> -->
               <span class="m-datatable__pager-detail">Mostrando {{total_users ? ((current_page-1)*limit + 1) : 0}} -
                  {{(limit*current_page > total_users) ? total_users : (limit*current_page)}} de {{total_users}}
                  usuarios</span>
            </div>
         </div>
      </div>

   </div>
</div>
