<div class="m-login__signin">
   <div class="m-login__title">
      <h3 class="m-login__title">¿Olvidó su Contraseña?</h3>
      <div class="m-login__desc">Ingrese su Correo Electrónico para restablecer su contraseña:</div>
   </div>

   <!-- <m-auth-notice></m-auth-notice> -->

   <!--===================== FORMULARIO =====================-->
   <!-- <form class="m-login__form m-form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
      <div class="form-group">
         <mat-form-field>
            <mat-label>Correo Electrónico</mat-label>
            <input matInput type="email" name="email" placeholder="Correo Electrónico" autocomplete="off" [(ngModel)]="model.email"
               #email="ngModel" email="true" required>
         </mat-form-field>
      </div>
   </form> -->
   <form [formGroup]="passwordForm" class="m-login__form m-form">

      <div class="form-group has-feedback">
         <input class="form-control" type="email" placeholder="Correo Electrónico" formControlName="email" maxlength="35"
            autocomplete="nope" required />

         <!--===================== ERRORES DE EMAIL =====================-->
         <span class="text-danger" *ngIf="passwordForm.controls['email'].hasError('required') && (passwordForm.controls['email'].dirty || passwordForm.controls['email'].touched)">
            Este campo es requerido
         </span>
         <span class="text-danger" *ngIf="passwordForm.controls['email'].hasError('email') && (passwordForm.controls['email'].dirty && passwordForm.controls['email'].touched)">
            Este campo debe ser una dirección de correo electrónico válida
         </span>
         <!-- FIN ERRORES DE EMAIL -->
      </div>

   </form>
   <!-- FIN FORMULARIO -->

   <!--===================== ACCIONES =====================-->
   <div class="m-login__action m-login__action--fit">
      <button class="btn btn-outline-primary" (click)="loginPage()" [disabled]="loading">Volver</button>
      <!-- <m-spinner-button [options]="spinner" (click)="submit()">Submit</m-spinner-button> -->
      <!-- <button mat-raised-button color="primary" (click)="submit()">Restablecer</button> -->
      <button class="btn btn-primary">Restablecer</button>
   </div>
   <!-- FIN ACCIONES-->
</div>
