<div id="m_header_topbar" class="m-topbar m-stack m-stack--ver m-stack--general">
   <div class="m-stack__item m-topbar__nav-wrapper">

      <ul class="m-topbar__nav m-nav m-nav--inline">

         <cw-search-dropdown id="m_quicksearch" class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light m-list-search m-list-search--skin-light m-dropdown--skin-light"
            m-dropdown-toggle="click" m-dropdown-persistent="1" m-quicksearch-mode="dropdown">
         </cw-search-dropdown>

         <cw-notification class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width"
            m-dropdown-toggle="click" m-dropdown-persistent="true">
         </cw-notification>

         <cw-quick-action class="m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light"
            m-dropdown-toggle="click">
         </cw-quick-action>

         <!-- <m-language-selector></m-language-selector> -->

         <cw-user-profile class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
            m-dropdown-toggle="click">
         </cw-user-profile>


         <li id="m_quick_sidebar_toggle" class="m-nav__item">
            <a href="javascript:;" class="m-nav__link m-dropdown__toggle">
               <span class="m-nav__link-icon">
                  <i class="flaticon-grid-menu"></i>
               </span>
            </a>
         </li>

      </ul>

   </div>
</div>
