<div class="form-group m-form__group m--margin-top-10">
   <div class="alert m-alert m-alert--default" role="alert">
      The example form below demonstrates common HTML form elements that receive updated
      styles from Bootstrap with additional classes.
   </div>
</div>


<ng-container>
   <form [formGroup]="courseForm" (ngSubmit)="updateCourse(courseForm.value)" class="m-form m-form--label-align-left- m-form--state-">
      <div class="m-portlet__body" style="margin: 80px 0;">
         <div class="row">
            <div class="col-xl-8 offset-xl-2">

               <div class="m-form__section">
                  <div class="m-form__heading">
                     <h3 class="m-form__heading-title">
                        Detalles del Curso
                        <i data-toggle="m-tooltip" data-width="auto" class="m-form__heading-help-icon flaticon-info"
                           title="Some help text goes here"></i>
                     </h3>
                  </div>



                  <div class="form-group m-form__group row">
                     <label class="col-xl-3 col-lg-3 col-form-label">Nombre:</label>
                     <div class="col-xl-9 col-lg-9">
                        <input type="text" formControlName="name" class="form-control m-input" placeholder="">
                        <span class="m-form__help">Street address, P.O. box, company
                           name, c/o</span>
                     </div>
                  </div>
                  <div class="form-group m-form__group row">
                     <label class="col-xl-3 col-lg-3 col-form-label">Código:</label>
                     <div class="col-xl-9 col-lg-9">
                        <input type="text" formControlName="code" [attr.disabled]="true" class="form-control m-input">
                        <span class="m-form__help">Appartment, suite, unit, building,
                           floor, etc</span>
                     </div>
                  </div>

                  <ng-container formGroupName="goalsForm">

                        <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : courseForm.controls['goalsForm'].controls['course_goal'].invalid && courseForm.controls['goalsForm'].controls['course_goal'].touched }">
                           <label class="form-control-label">Meta por Curso:</label>
                           <input type="text" class="form-control m-input" formControlName="course_goal" autocomplete="nope"
                              maxLength="4">
                           <!--===================== ERRORES DE NOMBRE =====================-->
                           <div class="form-control-feedback" *ngIf="courseForm.controls['goalsForm'].controls['course_goal'].hasError('required') && (courseForm.controls['goalsForm'].controls['course_goal'].dirty || courseForm.controls['goalsForm'].controls['course_goal'].touched)">
                              Este campo es requerido.
                           </div>
                           <!-- FIN ERRORES DE NOMBRE -->
                        </div>

                        <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : courseForm.controls['goalsForm'].controls['student_goal'].invalid && courseForm.controls['goalsForm'].controls['student_goal'].touched }">
                           <label class="form-control-label">Meta por Estudiante:</label>
                           <input type="text" class="form-control m-input" formControlName="student_goal" autocomplete="nope"
                              maxLength="4">
                           <!--===================== ERRORES DE NOMBRE =====================-->
                           <div class="form-control-feedback" *ngIf="courseForm.controls['goalsForm'].controls['student_goal'].hasError('required') && (courseForm.controls['goalsForm'].controls['student_goal'].dirty || courseForm.controls['goalsForm'].controls['student_goal'].touched)">
                              Este campo es requerido.
                           </div>

                           <!-- FIN ERRORES DE NOMBRE -->
                        </div>
                        <span class="text-danger" *ngIf="courseForm.controls.goalsForm.errors && courseForm.controls.goalsForm.touched">
                           La meta por estudiante debe ser menor a la meta por curso.
                        </span>
                     </ng-container>
                  <!-- <div class="form-group m-form__group row">
                     <label class="col-xl-3 col-lg-3 col-form-label">Meta del Curso:</label>
                     <div class="col-xl-9 col-lg-9">
                        <input type="text" formControlName="course_goal" class="form-control m-input" placeholder="">
                     </div>
                  </div>
                  <div class="form-group m-form__group row">
                     <label class="col-xl-3 col-lg-3 col-form-label">Meta por Estudiante:</label>
                     <div class="col-xl-9 col-lg-9">
                        <input type="text" formControlName="student_goal" class="form-control m-input" placeholder="">
                     </div>
                  </div> -->

                  <div class="form-group m-form__group row">
                     <label class="col-xl-3 col-lg-3 col-form-label">Estado:</label>
                     <div class="col-xl-9 col-lg-9">
                        <!-- <input type="text" formControlName="active" class="form-control m-input" placeholder=""> -->
                        <select formControlName="active" class="m-datatable__pager-size" style="width:160px">
                           <option value="">Seleccionar</option>
                           <option [ngValue]="true">{{true | active}}</option>
                           <option [ngValue]="false">{{false | active}}</option>

                        </select>
                     </div>
                  </div>

                  <div class="m-separator m-separator--dashed m-separator--lg"></div>


                  <div class="form-group m-form__group row">
                     <div class="col-lg-12 m-form__group-sub">
                        <label class="form-control-label">Asignatura:</label>

                        <!-- <input type="text" formControlName="subject" class="form-control m-input" placeholder=""> -->
                        <select formControlName="subject" class="m-datatable__pager-size" style="width:160px">
                           <option value="">Seleccionar</option>
                           <option *ngFor="let subject of options_subject" [value]="subject.id_subject">{{subject.name}}</option>
                        </select>

                        <span class="m-form__help">Asignatura a la que pertenece el
                           curso</span>

                     </div>
                  </div>

                  <div class="form-group m-form__group row">
                     <!-- <div class="col-lg-6 m-form__group-sub">
                        <label class="form-control-label">Año:</label>
                        <input type="text" formControlName="year" class="form-control m-input">

                     </div>
                     <div class="col-lg-6 m-form__group-sub">
                        <label class="form-control-label">Semestre:</label>
                        <input type="text" formControlName="semester" class="form-control m-input" placeholder="">

                     </div> -->

                     <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : courseForm.controls.year.invalid && courseForm.controls.year.touched }">
                        <label class="form-control-label">Año:</label>
                        <select formControlName="year" class="m-datatable__pager-size" style="width:160px">
                           <option value="">Seleccionar</option>
                           <option *ngFor="let year of options_calendar" [ngValue]="year.options">{{year.year}}</option>
                        </select>
                        <!--===================== ERRORES DE PATERNO =====================-->
                        <div class="form-control-feedback" *ngIf="courseForm.controls['year'].hasError('required') && (courseForm.controls['year'].dirty || courseForm.controls['year'].touched)">
                           Este campo es requerido.
                        </div>
                        <!-- FIN ERRORES DE PATERNO -->
                     </div>

                     <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : courseForm.controls.semester.invalid && courseForm.controls.semester.touched }">
                        <label class="form-control-label">Semestre:</label>
                        <select formControlName="semester" class="m-datatable__pager-size" style="width:160px">
                           <option value="">Seleccionar</option>
                           <ng-container *ngIf="courseForm.value.year">
                              <option *ngFor="let semester of courseForm.value.year" [value]="semester.id_calendar">{{semester.semester}}</option>
                           </ng-container>
                        </select>
                        <!--===================== ERRORES DE PATERNO =====================-->
                        <div class="form-control-feedback" *ngIf="courseForm.controls['semester'].hasError('required') && (courseForm.controls['semester'].dirty || courseForm.controls['semester'].touched)">
                           Este campo es requerido.
                        </div>
                        <!-- FIN ERRORES DE PATERNO -->
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>


      <div class="m-portlet__foot m-portlet__foot--fit">
         <div class="m-form__actions">
            <div class="row">
               <button type="button" class="btn btn-danger" (click)="deleteCourse()">Eliminar</button>
               <div class="col m--align-right">
                  <button type="reset" style="margin-right: 20px;" class="btn btn-primary" (click)="resetFormData()">Reset</button>
                  <button type="submit" class="btn btn-primary" [disabled]="courseForm.pristine || courseForm.invalid">Actualizar</button>
               </div>
            </div>


         </div>
      </div>

   </form>
</ng-container>
