<div class="modal-header">
   <h4 class="modal-title">Crear Usuario</h4>
   <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
   </button>
</div>
<form [formGroup]="userForm" (ngSubmit)="createUser(userForm.value)" class="m-form m-form--state m-form--label-align-right">
   <div class="modal-body">
      <div class="m-portlet__body">
         <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : userForm.controls.name.invalid && userForm.controls.name.touched }">
            <label class="form-control-label">Nombre:</label>
            <input type="text" class="form-control m-input" formControlName="name" maxlength="35" autocomplete="nope">
            <!--===================== ERRORES DE NOMBRE =====================-->
            <div class="form-control-feedback" *ngIf="userForm.controls['name'].hasError('required') && (userForm.controls['name'].dirty || userForm.controls['name'].touched)">
               Este campo es requerido.
            </div>
            <!-- FIN ERRORES DE NOMBRE -->
         </div>
         <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : userForm.controls.last_name.invalid && userForm.controls.last_name.touched }">
            <label class="form-control-label">Apellido Paterno:</label>
            <input type="text" class="form-control m-input" formControlName="last_name" maxlength="35" autocomplete="nope">
            <!--===================== ERRORES DE PATERNO =====================-->
            <div class="form-control-feedback" *ngIf="userForm.controls['last_name'].hasError('required') && (userForm.controls['last_name'].dirty || userForm.controls['last_name'].touched)">
               Este campo es requerido.
            </div>
            <!-- FIN ERRORES DE PATERNO -->
         </div>
         <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : userForm.controls.middle_name.invalid && userForm.controls.middle_name.touched }">
            <label class="form-control-label">Apellido Materno:</label>
            <input type="text" class="form-control m-input" formControlName="middle_name" maxlength="35" autocomplete="nope">
            <!--===================== ERRORES DE MATERNO =====================-->
            <div class="form-control-feedback" *ngIf="userForm.controls['middle_name'].hasError('required') && (userForm.controls['middle_name'].dirty || userForm.controls['middle_name'].touched)">
               Este campo es requerido.
            </div>
            <!-- FIN ERRORES DE MATERNO -->
         </div>
         <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : userForm.controls.document_no.invalid && userForm.controls.document_no.touched }">
            <label class="form-control-label">RUT:</label>
            <input type="text" class="form-control m-input" formControlName="document_no" maxlength="15" autocomplete="nope">
            <!--===================== ERRORES DE RUT =====================-->
            <div class="form-control-feedback" *ngIf="userForm.controls['document_no'].hasError('required') && (userForm.controls['document_no'].dirty || userForm.controls['document_no'].touched)">
               Este campo es requerido.
            </div>
            <!-- FIN ERRORES DE RUT -->
         </div>

         <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : userForm.controls.email.invalid && userForm.controls.email.touched }">
            <label class="form-control-label">Correo Eletrónico:</label>
            <input type="text" class="form-control m-input" formControlName="email" maxlength="35" autocomplete="nope">
            <!--===================== ERRORES DE EMAIL =====================-->
            <div class="form-control-feedback" *ngIf="userForm.controls['email'].hasError('required') && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">
               Este campo es requerido.
            </div>
            <div class="form-control-feedback" *ngIf="userForm.controls['email'].hasError('email') && (userForm.controls['email'].dirty && userForm.controls['email'].touched)">
               Este campo debe ser una dirección de correo electrónico válida.
            </div>
            <!-- FIN ERRORES DE EMAIL -->
         </div>

         <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : userForm.controls.phone_no.invalid && userForm.controls.phone_no.touched }">
            <label class="form-control-label">Teléfono:</label>
            <input type="text" class="form-control m-input" formControlName="phone_no" maxlength="35" autocomplete="nope">
            <!--===================== ERRORES DE TELÉFONO =====================-->
            <div class="form-control-feedback" *ngIf="userForm.controls['phone_no'].hasError('required') && (userForm.controls['phone_no'].dirty || userForm.controls['phone_no'].touched)">
               Este campo es requerido.
            </div>
            <!-- FIN ERRORES DE TELÉFONO -->
         </div>

         <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : userForm.controls.username.invalid && userForm.controls.username.touched }">
            <label class="form-control-label">Nombre de Usuario:</label>
            <input type="text" class="form-control m-input" formControlName="username" maxlength="35" autocomplete="nope">
            <!--===================== ERRORES DE USUARIO =====================-->
            <div class="form-control-feedback" *ngIf="userForm.controls['username'].hasError('required') && (userForm.controls['username'].dirty || userForm.controls['username'].touched)">
               Este campo es requerido.
            </div>
            <!-- FIN ERRORES DE USUARIO -->
         </div>


         <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : userForm.controls.password.invalid && userForm.controls.password.touched }">
            <label class="form-control-label">Contraseña:</label>
            <input class="form-control m-input" type="password" formControlName="password" maxlength="35" autocomplete="nope"
               required />
            <!--===================== ERRORES CONTRASEÑA =====================-->
            <span class="text-danger" *ngIf="userForm.controls['password'].hasError('required') && (userForm.controls['password'].dirty || userForm.controls['password'].touched)">
               Este campo es requerido
            </span>
            <!-- FIN ERRORES CONTRASEÑA -->
         </div>

         <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : (userForm.errors?.areEquals || userForm.controls.password2.invalid) && userForm.controls.password2.touched }">
               <label class="form-control-label">Repita Contraseña:</label>
               <input class="form-control" type="password" formControlName="password2"
                  maxlength="35" autocomplete="nope" required />
               <!--===================== ERRORES CONTRASEÑA =====================-->
               <span class="text-danger" *ngIf="userForm.controls['password2'].hasError('required') && (userForm.controls['password2'].dirty || userForm.controls['password2'].touched)">
                  Este campo es requerido
               </span>
               <span class="text-danger" *ngIf="userForm.errors?.areEquals && (userForm.controls['password2'].dirty && userForm.controls['password2'].touched)">
                  Las contraseñas deben ser iguales
               </span>
               <!-- FIN ERRORES CONTRASEÑA -->
            </div>

         <div formGroupName="roles">
            <label class="form-control-label">Roles:</label>
            <!-- <input type="text" class="form-control m-input" formControlName="active" maxlength="35" autocomplete="nope"> -->
            <div class="m-checkbox-inline">
               <label class="m-checkbox">
                  <input type="checkbox" formControlName="admin">Administrador
                  <span></span>
               </label>
               <label class="m-checkbox">
                  <input type="checkbox" formControlName="teacher">Profesor
                  <span></span>
               </label>
               <label class="m-checkbox">
                  <input type="checkbox" formControlName="student">Estudiante
                  <span></span>
               </label>
            </div>
            <span class="text-danger" *ngIf="userForm.controls.roles.errors && userForm.controls.roles.touched">
               Debes selecionar un rol.
            </span>
         </div>

         <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : userForm.controls.active.invalid && userForm.controls.active.touched }">
            <label class="form-control-label">Estado:</label>
            <select formControlName="active" class="m-datatable__pager-size" style="width:160px">>
               <option [ngValue]="true">Activo</option>
               <option [ngValue]="false">Inactivo</option>
            </select>
         </div>

      </div>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="activeModal.close()">Cerrar</button>
      <button type="submit" class="btn btn-success" [disabled]="userForm.pristine || userForm.invalid">Crear</button>
   </div>
</form>
