<div class="modal-header">
   <h4 class="modal-title">Crear Categoría</h4>
   <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
   </button>
</div>

<form [formGroup]="categoryForm" (ngSubmit)="createCategory(categoryForm.value)" class="m-form m-form--state m-form--label-align-right">
   <div class="modal-body">
      <div class="m-portlet__body">

         <div class="form-group m-form__group row" [ngClass]="{'has-danger' : categoryForm.controls.subject.invalid && categoryForm.controls.subject.touched }">
            <label class="col-xl-3 col-lg-3 col-form-label">Asignatura:</label>
            <div class="col-xl-9 col-lg-9" style="display: flex; align-items: center">
               <select formControlName="subject" class="m-datatable__pager-size" style="width:260px">
                  <option value="">Seleccionar</option>
                  <option *ngFor="let subject of options_subject" [value]="subject.id_subject">{{subject.name}}</option>
               </select>
            </div>
            <!--===================== ERRORES DE PATERNO =====================-->
            <div style="margin-left: 40px;" class="form-control-feedback" *ngIf="categoryForm.controls['subject'].hasError('required') && (categoryForm.controls['subject'].dirty || categoryForm.controls['subject'].touched)">
               Este campo es requerido.
            </div>
            <!-- FIN ERRORES DE PATERNO -->
         </div>

         <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : categoryForm.controls.name.invalid && categoryForm.controls.name.touched }">
            <label class="form-control-label">Nombre de la Categoría:</label>
            <input type="text" class="form-control m-input" formControlName="name" maxLength="15" autocomplete="nope">
            <!--===================== ERRORES DE NOMBRE =====================-->
            <div class="form-control-feedback" *ngIf="categoryForm.controls['name'].hasError('required') && (categoryForm.controls['name'].dirty || categoryForm.controls['name'].touched)">
               Este campo es requerido.
            </div>
            <!-- FIN ERRORES DE NOMBRE -->
         </div>

      </div>

   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="activeModal.close()">Cerrar</button>
      <button type="submit" class="btn btn-info" [disabled]="categoryForm.invalid">Crear</button>
   </div>
</form>
