<button (click)="openCreateCourse()" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
   <span>
      <span>Crear Curso</span>
   </span>
</button>

<button (click)="createCourse()" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
   <span>
      <span>Crear Pregunta</span>
   </span>
</button>

<button (click)="createCourse()" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
   <span>
      <span>Crear Categoría</span>
   </span>
</button>

<button (click)="createCourse()" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
   <span>
      <span>Crear Subcategoría</span>
   </span>
</button>

<h3>Progreso de Cursos Activos</h3>

<h3>Últimas Preguntas Añadidas</h3>

<h3>Últimos Cursos Añadidos</h3>

<h3>Últimos Categorías Añadidas</h3>

<h3>Últimos Subcategorías Añadidas</h3>
