<button (click)="openCreateCourse()" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
   <span>
      <span>Crear Curso</span>
   </span>
</button>

<button (click)="openCreateAnswer()" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
   <span>
      <span>Crear Pregunta</span>
   </span>
</button>

<button (click)="openCreateCategory()" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
   <span>
      <span>Crear Categoría</span>
   </span>
</button>

<button (click)="openCreateSubcategory()" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
   <span>
      <span>Crear Subcategoría</span>
   </span>
</button>

<div class="m-portlet m-portlet--mobile">
   <!-- CARD HEADER -->
   <div class="m-portlet__head">
      <!-- TITULO HEADER -->
      <div class="m-portlet__head-caption">
         <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
               Progreso de Cursos Activos
            </h3>
         </div>
      </div>
      <!-- FIN TITULO -->
      <!-- ACCIONES HEADER -->

      <!-- FIN ACCIONES HEADER -->
   </div>
   <!-- FIN CARD HEADER -->

   <!-- CARD BODY -->
   <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
         <div class="col-xl-4">
            <div class="m-widget14">
               <div class="m-widget14__header" style="padding-top: 0">
                  <h5 class="m-widget14__title" style="font-size: 1.1rem">Programación Básica</h5>
                  <span class="m-widget14__desc">Semestre 2 - Grupo A</span>
               </div>
               <div style="height: 200px;" echarts [options]="options"></div>
            </div>
         </div>
         <div class="col-xl-4" *ngIf="courses">
            meta curso {{courses[0].course_goal}} <br>
            meta estudiante {{courses[0].student_goal}}
         </div>
         <div class="col-xl-4">
            <div class="m-widget14">
               <div class="m-widget14__header" style="padding-top: 0">
                  <h5 class="m-widget14__title" style="font-size: 1.1rem">Programación Básica</h5>
                  <span class="m-widget14__desc">Semestre 2 - Grupo A</span>
               </div>
               <div *ngIf="courses" style="height: 200px;" echarts [options]="options2"></div>
            </div>
         </div>
      </div>

      <!--
      <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

         <table class="cw-table">
            <thead>
               <tr>
                  <th class="center">#</th>
                  <th>Asignatura</th>
                  <th>Categoría</th>
                  <th>Subcategoría</th>
                  <th>Pregunta</th>
                  <th>Dificultad</th>
                  <th>Compartida</th>
                  <th>Creada</th>
                  <th>Última Actualización</th>
                  <th class="center">Acciones</th>
               </tr>
            </thead>

            <tbody>
               <tr *ngFor="let question of questions; let i=index">
                  <td class="center">{{i+1}}</td>
                  <td>{{question.subject}}</td>
                  <td>{{question.category}}</td>
                  <td class="nowrap">{{question.subcategory}}</td>
                  <td>{{question.description}}</td>
                  <td>{{question.difficulty}}</td>
                  <td>{{question.shared}}</td>
                  <td class="nowrap">{{question.created_at}}</td>
                  <td class="nowrap">{{question.updated_at}}</td>
               </tr>
            </tbody>
         </table>
      </div>-->
   </div>

   <div class="m-portlet__foot">
      <div class="row align-items-center">
         <div class="col-lg-12 m--align-right">
            <button class="btn btn-primary">Crear Pregunta</button>
         </div>
      </div>
   </div>
</div>



















<div class="m-portlet m-portlet--mobile">
   <!-- CARD HEADER -->
   <div class="m-portlet__head">
      <!-- TITULO HEADER -->
      <div class="m-portlet__head-caption">
         <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
               Últimas Preguntas Añadidas
            </h3>
         </div>
      </div>
      <!-- FIN TITULO -->
      <!-- ACCIONES HEADER -->

      <!-- FIN ACCIONES HEADER -->
   </div>
   <!-- FIN CARD HEADER -->

   <!-- CARD BODY -->
   <div class="m-portlet__body">

      <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

         <table class="cw-table">
            <thead>
               <tr>
                  <th class="center">#</th>
                  <th>Asignatura</th>
                  <th>Categoría</th>
                  <th>Subcategoría</th>
                  <th>Pregunta</th>
                  <th>Dificultad</th>
                  <th>Compartida</th>
                  <th>Creada</th>
                  <th>Última Actualización</th>
                  <th class="center">Acciones</th>
               </tr>
            </thead>

            <tbody>
               <tr *ngFor="let question of questions; let i=index">
                  <td class="center">{{i+1}}</td>
                  <td>{{question.subject}}</td>
                  <td>{{question.category}}</td>
                  <td class="nowrap">{{question.subcategory}}</td>
                  <td>{{question.description}}</td>
                  <td>{{question.difficulty}}</td>
                  <td>{{question.shared}}</td>
                  <td class="nowrap">{{question.created_at}}</td>
                  <td class="nowrap">{{question.updated_at}}</td>
                  <!-- <td>
                     <span style="overflow:visible;position:relative;width:110px;display:block;text-align:center">
                        <a (click)="openCalendarEdit(calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-edit"></i>
                        </a>
                        <a (click)="deleteCalendar(calendar.id_calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-trash"></i>
                        </a>
                     </span>
                  </td> -->
               </tr>
            </tbody>
         </table>
      </div>
   </div>

   <div class="m-portlet__foot">
      <div class="row align-items-center">
         <div class="col-lg-12 m--align-right">
            <button class="btn btn-primary">Crear Pregunta</button>
         </div>
      </div>
   </div>
</div>









<div class="m-portlet m-portlet--mobile">
   <!-- CARD HEADER -->
   <div class="m-portlet__head">
      <!-- TITULO HEADER -->
      <div class="m-portlet__head-caption">
         <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
               Últimos Actualizaciones en Cursos
            </h3>
         </div>
      </div>
      <!-- FIN TITULO -->
      <!-- ACCIONES HEADER -->

      <!-- FIN ACCIONES HEADER -->
   </div>
   <!-- FIN CARD HEADER -->

   <!-- CARD BODY -->
   <div class="m-portlet__body">

      <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

         <table class="cw-table">
            <thead>
               <tr>
                  <th class="center">#</th>
                  <th>Asignatura</th>
                  <th>Curso</th>
                  <th>Código</th>
                  <th>Meta por Curso</th>
                  <th>Meta por Estudiante</th>
                  <th>Año</th>
                  <th>Semestre</th>
                  <th>Creado</th>
                  <th>Última Actualización</th>
                  <th class="center">Acciones</th>
               </tr>
            </thead>

            <tbody>
               <tr *ngFor="let course of courses; let i=index">
                  <td class="center">{{i+1}}</td>
                  <td class="nowrap">{{course.subject}}</td>
                  <td>{{course.name}}</td>
                  <td>{{course.code}}</td>
                  <td>{{course.course_goal}}</td>
                  <td>{{course.student_goal}}</td>
                  <td>{{course.year}}</td>
                  <td>{{course.semester}}</td>
                  <td class="nowrap">{{course.created_at}}</td>
                  <td class="nowrap">{{course.updated_at}}</td>
                  <!-- <td>
                     <span style="overflow:visible;position:relative;width:110px;display:block;text-align:center">
                        <a (click)="openCalendarEdit(calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-edit"></i>
                        </a>
                        <a (click)="deleteCalendar(calendar.id_calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-trash"></i>
                        </a>
                     </span>
                  </td> -->
               </tr>
            </tbody>
         </table>
      </div>
   </div>

   <div class="m-portlet__foot">
      <div class="row align-items-center">
         <div class="col-lg-12 m--align-right">
            <button class="btn btn-primary">Crear Curso</button>
         </div>
      </div>
   </div>
</div>








<div class="m-portlet m-portlet--mobile">
   <!-- CARD HEADER -->
   <div class="m-portlet__head">
      <!-- TITULO HEADER -->
      <div class="m-portlet__head-caption">
         <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
               Últimas Categorías Añadidas
            </h3>
         </div>
      </div>
      <!-- FIN TITULO -->
      <!-- ACCIONES HEADER -->

      <!-- FIN ACCIONES HEADER -->
   </div>
   <!-- FIN CARD HEADER -->

   <!-- CARD BODY -->
   <div class="m-portlet__body">

      <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

         <table class="cw-table">
            <thead>
               <tr>
                  <th class="center">#</th>
                  <th>Asignatura</th>
                  <th>Categoría</th>
                  <th>Creado</th>
                  <th>Última Actualización</th>
                  <th class="center">Acciones</th>
               </tr>
            </thead>

            <tbody>
               <tr *ngFor="let category of categories; let i=index">
                  <td class="center">{{i+1}}</td>
                  <td class="nowrap">{{category.subject}}</td>
                  <td class="nowrap">{{category.name}}</td>
                  <td class="nowrap">{{category.created_at}}</td>
                  <td class="nowrap">{{category.updated_at}}</td>
                  <!--
                  <td>
                     <span style="overflow:visible;position:relative;width:110px;display:block;text-align:center">
                        <a (click)="openCalendarEdit(calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-edit"></i>
                        </a>
                        <a (click)="deleteCalendar(calendar.id_calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-trash"></i>
                        </a>
                     </span>
                  </td>-->
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="m-portlet__foot">
      <div class="row align-items-center">
         <div class="col-lg-12 m--align-right">
            <button class="btn btn-primary">Crear Categoría</button>
         </div>
      </div>
   </div>
</div>



<div class="m-portlet m-portlet--mobile">
   <!-- CARD HEADER -->
   <div class="m-portlet__head">
      <!-- TITULO HEADER -->
      <div class="m-portlet__head-caption">
         <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
               Últimas Subcategorías Añadidas
            </h3>
         </div>
      </div>
      <!-- FIN TITULO -->
      <!-- ACCIONES HEADER -->

      <!-- FIN ACCIONES HEADER -->
   </div>
   <!-- FIN CARD HEADER -->

   <!-- CARD BODY -->
   <div class="m-portlet__body">

      <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

         <table class="cw-table">
            <thead>
               <tr>
                  <th class="center">#</th>
                  <th>Asignatura</th>
                  <th>Categoría</th>
                  <th>Subcategoría</th>
                  <th>Creado</th>
                  <th>Última Actualización</th>
                  <th class="center">Acciones</th>
               </tr>
            </thead>

            <tbody>
               <tr *ngFor="let subcategory of subcategories; let i=index">
                  <td class="center">{{i+1}}</td>
                  <td class="nowrap">{{subcategory.subject}}</td>
                  <td class="nowrap">{{subcategory.category}}</td>
                  <td class="nowrap">{{subcategory.name}}</td>
                  <td class="nowrap">{{subcategory.created_at}}</td>
                  <td class="nowrap">{{subcategory.updated_at}}</td>
                  <!-- <td>
                     <span style="overflow:visible;position:relative;width:110px;display:block;text-align:center">
                        <a (click)="openCalendarEdit(calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-edit"></i>
                        </a>
                        <a (click)="deleteCalendar(calendar.id_calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-trash"></i>
                        </a>
                     </span>
                  </td> -->
               </tr>
            </tbody>
         </table>
      </div>
   </div>

   <div class="m-portlet__foot">
      <div class="row align-items-center">
         <div class="col-lg-12 m--align-right">
            <button class="btn btn-primary">Crear Subcategoría</button>
         </div>
      </div>
   </div>
</div>
