<button (click)="openCreateCourse()" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
   <span>
      <span>Crear Curso</span>
   </span>
</button>

<button (click)="openCreateAnswer()" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
   <span>
      <span>Crear Pregunta</span>
   </span>
</button>

<button (click)="openCreateCategory()" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
   <span>
      <span>Crear Categoría</span>
   </span>
</button>

<button (click)="openCreateSubcategory()" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
   <span>
      <span>Crear Subcategoría</span>
   </span>
</button>

<h3>Progreso de Cursos Activos</h3>






<div class="m-portlet m-portlet--mobile">
   <!-- CARD HEADER -->
   <div class="m-portlet__head">
      <!-- TITULO HEADER -->
      <div class="m-portlet__head-caption">
         <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
               Últimas Preguntas Añadidas
            </h3>
         </div>
      </div>
      <!-- FIN TITULO -->
      <!-- ACCIONES HEADER -->

      <!-- FIN ACCIONES HEADER -->
   </div>
   <!-- FIN CARD HEADER -->

   <!-- CARD BODY -->
   <div class="m-portlet__body">

      <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

         <table class="cw-table">
            <thead>
               <tr>
                  <th class="center">#</th>
                  <th>Asignatura</th>
                  <th>Categoría</th>
                  <th>Subcategoría</th>
                  <th>Pregunta</th>
                  <th>Última Actualización</th>
                  <th class="center">Acciones</th>
               </tr>
            </thead>
            <!--
            <tbody>
               <tr *ngFor="let calendar of calendars">
                  <td>{{calendar.id_calendar}}</td>
                  <td class="nowrap">{{calendar.year}}</td>
                  <td>{{calendar.semester}}</td>
                  <td class="nowrap">{{calendar.created_at | timeAgo}}</td>
                  <td class="nowrap">{{calendar.updated_at | timeAgo}}</td>
                  <td>
                     <span style="overflow:visible;position:relative;width:110px;display:block;text-align:center">
                        <a (click)="openCalendarEdit(calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-edit"></i>
                        </a>
                        <a (click)="deleteCalendar(calendar.id_calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-trash"></i>
                        </a>
                     </span>
                  </td>
               </tr>
            </tbody>-->
         </table>
      </div>
   </div>

</div>









<div class="m-portlet m-portlet--mobile">
   <!-- CARD HEADER -->
   <div class="m-portlet__head">
      <!-- TITULO HEADER -->
      <div class="m-portlet__head-caption">
         <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
               Últimos Cursos Añadidos
            </h3>
         </div>
      </div>
      <!-- FIN TITULO -->
      <!-- ACCIONES HEADER -->

      <!-- FIN ACCIONES HEADER -->
   </div>
   <!-- FIN CARD HEADER -->

   <!-- CARD BODY -->
   <div class="m-portlet__body">

      <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

         <table class="cw-table">
            <thead>
               <tr>
                  <th class="center">#</th>
                  <th>Asignatura</th>
                  <th>Curso</th>
                  <th>Código</th>
                  <th>Pregunta</th>
                  <th>Última Actualización</th>
                  <th class="center">Acciones</th>
               </tr>
            </thead>
            <!--
            <tbody>
               <tr *ngFor="let calendar of calendars">
                  <td>{{calendar.id_calendar}}</td>
                  <td class="nowrap">{{calendar.year}}</td>
                  <td>{{calendar.semester}}</td>
                  <td class="nowrap">{{calendar.created_at | timeAgo}}</td>
                  <td class="nowrap">{{calendar.updated_at | timeAgo}}</td>
                  <td>
                     <span style="overflow:visible;position:relative;width:110px;display:block;text-align:center">
                        <a (click)="openCalendarEdit(calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-edit"></i>
                        </a>
                        <a (click)="deleteCalendar(calendar.id_calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-trash"></i>
                        </a>
                     </span>
                  </td>
               </tr>
            </tbody>-->
         </table>
      </div>
   </div>

</div>








<div class="m-portlet m-portlet--mobile">
   <!-- CARD HEADER -->
   <div class="m-portlet__head">
      <!-- TITULO HEADER -->
      <div class="m-portlet__head-caption">
         <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
               Últimas Categorías Añadidas
            </h3>
         </div>
      </div>
      <!-- FIN TITULO -->
      <!-- ACCIONES HEADER -->

      <!-- FIN ACCIONES HEADER -->
   </div>
   <!-- FIN CARD HEADER -->

   <!-- CARD BODY -->
   <div class="m-portlet__body">

      <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

         <table class="cw-table">
            <thead>
               <tr>
                  <th class="center">#</th>
                  <th>Asignatura</th>
                  <th>Categoría</th>
                  <th>Última Actualización</th>
                  <th class="center">Acciones</th>
               </tr>
            </thead>
            <!--
            <tbody>
               <tr *ngFor="let calendar of calendars">
                  <td>{{calendar.id_calendar}}</td>
                  <td class="nowrap">{{calendar.year}}</td>
                  <td>{{calendar.semester}}</td>
                  <td class="nowrap">{{calendar.created_at | timeAgo}}</td>
                  <td class="nowrap">{{calendar.updated_at | timeAgo}}</td>
                  <td>
                     <span style="overflow:visible;position:relative;width:110px;display:block;text-align:center">
                        <a (click)="openCalendarEdit(calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-edit"></i>
                        </a>
                        <a (click)="deleteCalendar(calendar.id_calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-trash"></i>
                        </a>
                     </span>
                  </td>
               </tr>
            </tbody>-->
         </table>
      </div>
   </div>
   <div class="m-portlet__foot">
      <div class="row align-items-center">
         <div class="col-lg-12 m--align-right">
            <button class="btn btn-primary">Crear Categoría</button>
            <button class="btn btn-secondary">Submit</button>
         </div>
      </div>
   </div>
</div>



<div class="m-portlet m-portlet--mobile">
   <!-- CARD HEADER -->
   <div class="m-portlet__head">
      <!-- TITULO HEADER -->
      <div class="m-portlet__head-caption">
         <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
               Últimas Subcategorías Añadidas
            </h3>
         </div>
      </div>
      <!-- FIN TITULO -->
      <!-- ACCIONES HEADER -->

      <!-- FIN ACCIONES HEADER -->
   </div>
   <!-- FIN CARD HEADER -->

   <!-- CARD BODY -->
   <div class="m-portlet__body">

      <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

         <table class="cw-table">
            <thead>
               <tr>
                  <th class="center">#</th>
                  <th>Asignatura</th>
                  <th>Categoría</th>
                  <th>Subcategoría</th>
                  <th>Última Actualización</th>
                  <th class="center">Acciones</th>
               </tr>
            </thead>
            <!--
            <tbody>
               <tr *ngFor="let calendar of calendars">
                  <td>{{calendar.id_calendar}}</td>
                  <td class="nowrap">{{calendar.year}}</td>
                  <td>{{calendar.semester}}</td>
                  <td class="nowrap">{{calendar.created_at | timeAgo}}</td>
                  <td class="nowrap">{{calendar.updated_at | timeAgo}}</td>
                  <td>
                     <span style="overflow:visible;position:relative;width:110px;display:block;text-align:center">
                        <a (click)="openCalendarEdit(calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-edit"></i>
                        </a>
                        <a (click)="deleteCalendar(calendar.id_calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-trash"></i>
                        </a>
                     </span>
                  </td>
               </tr>
            </tbody>-->
         </table>
      </div>
   </div>

</div>
