<ng-container>
   <form class="m-form m-form--label-align-left- m-form--state-" id="m_form">


      <div class="m-portlet__body">
         <div class="row">
            <div class="col-xl-8 offset-xl-2">
               <div class="m-form__section m-form__section--first">
                  <div class="m-form__heading">
                     <h3 class="m-form__heading-title">
                        Detalle de la Asignatura
                     </h3>
                  </div>
                  <div class="form-group m-form__group row">
                     <label class="col-xl-3 col-lg-3 col-form-label">Nombre:</label>
                     <div class="col-xl-9 col-lg-9">
                        <input type="text" name="name" class="form-control m-input" placeholder="" value="Nick Stone" disabled>
                        <span class="m-form__help">Please enter your first and last names</span>
                     </div>
                  </div>
               </div>
               <div class="m-separator m-separator--dashed m-separator--lg"></div>

               <div class="m-form__section">
                  <div class="m-form__heading">
                     <h3 class="m-form__heading-title">
                        Detalle del Curso
                        <i data-toggle="m-tooltip" data-width="auto" class="m-form__heading-help-icon flaticon-info"
                           title="Some help text goes here"></i>
                     </h3>
                  </div>
                  <div class="form-group m-form__group row">
                     <label class="col-xl-3 col-lg-3 col-form-label">Nombre:</label>
                     <div class="col-xl-9 col-lg-9">
                        <input type="text" name="address1" class="form-control m-input" placeholder="" value="Headquarters 1120 N Street Sacramento 916-654-5266">
                        <span class="m-form__help">Street address, P.O. box, company name, c/o</span>
                     </div>
                  </div>
                  <div class="form-group m-form__group row">
                     <label class="col-xl-3 col-lg-3 col-form-label">Código:</label>
                     <div class="col-xl-9 col-lg-9">
                        <input type="text" name="address2" class="form-control m-input" placeholder="" value="P.O. Box 942873 Sacramento, CA 94273-0001">
                        <span class="m-form__help">Appartment, suite, unit, building, floor, etc</span>
                     </div>
                  </div>
                  <div class="form-group m-form__group row">
                     <label class="col-xl-3 col-lg-3 col-form-label">Meta del Curso:</label>
                     <div class="col-xl-9 col-lg-9">
                        <input type="text" name="city" class="form-control m-input" placeholder="" value="Polo Alto">
                     </div>
                  </div>
                  <div class="form-group m-form__group row">
                     <label class="col-xl-3 col-lg-3 col-form-label">Meta por Estudiante:</label>
                     <div class="col-xl-9 col-lg-9">
                        <input type="text" name="state" class="form-control m-input" placeholder="" value="California">
                     </div>
                  </div>

               </div>
               <div class="m-separator m-separator--dashed m-separator--lg"></div>
               <div class="m-form__section m-form__section--first">
                  <div class="m-form__heading">
                     <h3 class="m-form__heading-title">Detalle de Calendario</h3>
                  </div>
                  <div class="form-group m-form__group row">
                     <div class="col-lg-6 m-form__group-sub">
                        <label class="form-control-label">Año:</label>
                        <input type="text" name="account_username" class="form-control m-input" placeholder="" value="nick.stone">
                        <span class="m-form__help">Your username to login to your dashboard</span>
                     </div>
                     <div class="col-lg-6 m-form__group-sub">
                        <label class="form-control-label">Semestre:</label>
                        <input type="password" name="account_password" class="form-control m-input" placeholder=""
                           value="qwerty">
                        <span class="m-form__help">Please use letters and at least one number and symbol</span>
                     </div>
                  </div>
               </div>
               <div class="m-separator m-separator--dashed m-separator--lg"></div>
               <div class="m-form__section">
                  <div class="m-form__heading">
                     <h3 class="m-form__heading-title">Client Settings</h3>
                  </div>
                  <div class="form-group m-form__group row">
                     <div class="col-lg-6 m-form__group-sub">
                        <label class="form-control-label">* User Group:</label>
                        <div class="m-radio-inline">
                           <label class="m-radio m-radio--solid m-radio--brand">
                              <input type="radio" name="account_group" checked="" value="2"> Sales Person
                              <span></span>
                           </label>
                           <label class="m-radio m-radio--solid m-radio--brand">
                              <input type="radio" name="account_group" value="2"> Customer
                              <span></span>
                           </label>
                        </div>
                        <span class="m-form__help">Please select user group</span>
                     </div>
                     <div class="col-lg-6 m-form__group-sub">
                        <label class="form-control-label">* Communications:</label>
                        <div class="m-checkbox-inline">
                           <label class="m-checkbox m-checkbox--solid m-checkbox--brand">
                              <input type="checkbox" name="account_communication[]" checked value="email"> Email
                              <span></span>
                           </label>
                           <label class="m-checkbox m-checkbox--solid  m-checkbox--brand">
                              <input type="checkbox" name="account_communication[]" value="sms"> SMS
                              <span></span>
                           </label>
                           <label class="m-checkbox m-checkbox--solid  m-checkbox--brand">
                              <input type="checkbox" name="account_communication[]" value="phone"> Phone
                              <span></span>
                           </label>
                        </div>
                        <span class="m-form__help">Please select user communication options</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>



   </form>
</ng-container>
