<div class="modal-header">
   <h4 class="modal-title">Área de Juego</h4>
   <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
   </button>
</div>

<div class="modal-body">
   <div class="m-portlet__body">

      <div class="form-group m-form__group m--margin-top-10">
         <!-- <div class="alert m-alert m-alert--default" role="alert">
               Puede que sea necesario que tu profesor inicie una pregunta. Por favor ten paciencia.
            </div> -->
         <div class="alert m-alert m-alert--default" role="alert">
            Es necesario que tu profesor inicie una pregunta. Por favor ten paciencia.
            <br><br>
            <ul>
               <li><b>Módulo: </b>{{class.module}}
               </li>
               <li><b>Clase: </b>{{class.description}}
               <li><b>Estado: </b>
                  {{current_question?.status}} -
                  {{
                  (!current_question || (current_question?.status == 1)) ? 'Esperando Pregunta.' :
                  (current_question && current_question.status == 2) ? 'Pregunta Iniciada. Esperando Participantes.' :
                  (current_question && current_question.status == 3) ? 'Participación Detenida. Seleccionando
                  Participante.':
                  (current_question && current_question.status == 4) ? 'Estudiante seleccionado para responder.':
                  'Participación Finalizada'
                  }} </li>
               <!-- Esperando pregunta, esperando participantes, participación detenida, estudiante seleccionado, participación finalizada -->
            </ul>

         </div>
      </div>

      <div class="m-portlet__body">
         <div class="form-group m-form__group row">


            <div class="col-lg-8">

               <div *ngIf="!current_question || (current_question?.status == 1); else question" class="container" style="width: 100%; background-color: turquoise; height: 350px; border-radius: 10px;">
                  <p style="margin-top: -210px; color: #ffffff; font-size: 20px; text-align: center; font-weight: 900px">Por
                     favor espera mientrás se realiza la pregunta.</p>
                  <div class="outer-circle">
                  </div>
                  <div class="inner-circle"></div>
               </div>


               <div *ngIf="current_question && current_question.status == 2" class="container" style="width: 100%; background-color: #FFD935; height: 350px; border-radius: 10px;">
                  <div>
                     <p style="margin: 0; color: #ffffff; font-size: 20px; text-align: center; font-weight: 900px">
                        {{current_question?.description}}
                     </p>
                  </div>

                  <div *ngIf="!participant_status; else participant">
                     <button (click)="participateOnQuestion(current_question)" type="button" class="btn m-btn--pill m-btn--air btn-primary">
                        Participar!
                     </button>
                  </div>
                  <ng-template #participant>
                     <button (click)="cancelParticipateOnQuestion(current_question)" type="button" class="btn m-btn--pill m-btn--air btn-primary">
                        Cancelar Participación
                     </button>
                  </ng-template>
               </div>

               <div *ngIf="current_question && current_question.status == 3" class="container" style="width: 100%; background-color: red; height: 350px; border-radius: 10px;">
                  <!-- <div class="container" style="width: 100%; background-color: red; height: 350px; border-radius: 10px;"> -->
                  <p style="margin: 0; color: #ffffff; font-size: 20px; text-align: center; font-weight: 900px">
                     {{current_question?.description}}

                  </p>

                  <!-- <span style="font-size:0.8rem; margin-top: 3px; color: #ffffff" class="center m-badge m-badge--wide m-badge--warning">
                        Detenida
                     </span> -->
                  <!-- <button (click)="participateOnQuestion(current_question)" type="button" class="btn m-btn--pill m-btn--air btn-primary">
                           Detenida
                        </button> -->

               </div>

               <div *ngIf="current_question && current_question.status == 4" class="container" style="width: 100%; background-color: red; height: 350px; border-radius: 10px;">
                  <p style="margin: 0; color: #ffffff; font-size: 20px; text-align: center; font-weight: 900px">
                     Ganador!

                  </p>
                  <p *ngIf="counter != 5">
                     Finalizando Pregunta en {{counter}}
                  </p>
               </div>

            </div>

            <!-- {{current_question | json}} -->
            <!-- BODY 2 -->
            <div class="col-lg-4">
               <label class="form-control-label">Estudiantes en la Sala: {{total_participants}}</label>

               <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

                  <table class="cw-table" style="height: 300px;">
                     <thead>
                        <tr>
                           <th class="center">#</th>
                           <th>Estudiante</th>
                           <th>Estado</th>
                        </tr>
                     </thead>
                     <tbody>

                        <!-- <tr *ngFor="let student of data_students; let i=index">
                              <td>{{i+1}}</td>

                              <td class="nowrap">
                                 <div class="m-widget4__item">

                                    <div class="m-widget4__info">
                                       <span class="m-widget4__title">
                                          {{student.name}} {{student.last_name}} {{student.middle_name}}
                                       </span><br>
                                       <span class="m-widget4__sub" style="font-size: .8rem;">
                                          {{student.document}}
                                       </span>
                                    </div>

                                 </div>
                              </td>

                              <td>
                                 <div style="width: 50%; cursor: pointer;" (click)="changeWinnerStatus(student)">
                                    <img *ngIf="student.status == 2;else blank" src="assets/images/checked.svg" alt="">
                                    <ng-template #blank>
                                       <img src="assets/images/blank.svg" alt="">
                                    </ng-template>
                                 </div>
                              </td>

                           </tr> -->
                        <tr *ngFor="let student of data_participants; let i=index">
                           <td class="center">{{i+1}}</td>

                           <td class="nowrap">
                              <div class="m-widget4__item">

                                 <div class="m-widget4__info">
                                    <span class="m-widget4__title">
                                       {{student.name}} {{student.last_name}} {{student.middle_name}}

                                    </span><br>
                                    <span class="m-widget4__sub" style="font-size: .8rem;">
                                       {{student.document}}

                                    </span>
                                 </div>

                              </div>
                           </td>

                           <td class="center">
                              <!-- <div style="width: 50%; cursor: pointer; text-align: center; margin:auto">
                                 <img *ngIf="true; else blank" src="assets/images/checked.svg" alt="">
                                 <ng-template #blank>
                                    <img src="assets/images/blank.svg" alt="">
                                 </ng-template>
                              </div> -->
                              {{(student.participation_status == 1) ? 'en espera' :
                              (student.participation_status == 2) ? 'desea responder' :
                              (student.participation_status == 3) ? 'seleccionado para responder':
                              (student.participation_status == 4) ? 'perdedor':
                              (student.participation_status == 5) ? 'ganador':
                              'error' }}
                           </td>

                        </tr>
                     </tbody>
                  </table>
                  <!-- <p style="margin-top: 1rem">Total de Participantes: {{total_participants}}</p> -->
               </div>

            </div>
         </div>
      </div>




   </div>

</div>
<div class="modal-footer">
   <button type="button" class="btn btn-info" (click)="activeModal.close()">Cerrar</button>

</div>
