<!-- LEYENDA -->
<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
   <div class="m-alert__icon">
      <i class="flaticon-exclamation m--font-brand"></i>
   </div>
   <div class="m-alert__text">
      En esta sección usted podrá realizar la configuración del calendario escolar. Esta representa las fechas en las
      que disponen los profesores para impoartir asignaturas.
   </div>
</div>
<!-- FIN LEYENDA -->

<div class="m-portlet m-portlet--mobile">
   <!-- CARD HEADER -->
   <div class="m-portlet__head">
      <!-- TITULO HEADER -->
      <div class="m-portlet__head-caption">
         <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
               Listado de Períodos Escolares
            </h3>
         </div>
      </div>
      <!-- FIN TITULO -->
      <!-- ACCIONES HEADER -->
      <div class="m-portlet__head-tools">
         <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item">
               <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                  m-dropdown-toggle="hover" aria-expanded="true">
                  <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                     <i class="la la-ellipsis-h m--font-brand"></i>
                  </a>
                  <div class="m-dropdown__wrapper">
                     <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                     <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                           <div class="m-dropdown__content">
                              <ul class="m-nav">
                                 <li class="m-nav__section m-nav__section--first">
                                    <span class="m-nav__section-text">Acciones</span>
                                 </li>
                                 <li class="m-nav__item">
                                    <a (click)="openCreateCalendar()" class="m-nav__link pointer">
                                       <i class="m-nav__link-icon flaticon-share"></i>
                                       <span class="m-nav__link-text">Crear Período Escolar</span>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
         </ul>
      </div>
      <!-- FIN ACCIONES HEADER -->
   </div>
   <!-- FIN CARD HEADER -->

   <!-- CARD BODY -->
   <div class="m-portlet__body">

        <!-- SECCIÓN DE FILTRO Y BUSQUEDA -->
        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
            <form [formGroup]="filterForm" (ngSubmit)="filterItems(filterForm.value)">
               <div class="row align-items-center">

                  <div class="col-xl-12" style="margin-bottom: 20px;">
                     <div class="col-xl-12 order-1 order-xl-2 m--align-right">
                           <button (click)="filterItems(filterForm.value)" style="color: #ffffff" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill"
                           [disabled]="(filterForm.value.year == lock_year) || filterForm.invalid">
                           <span>
                              <span>Filtrar</span>
                           </span>
                        </button>
                        <button type="button" (click)="openCreateCalendar()" style="color: #ffffff; margin-left: 10px;" class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
                           <span>
                              <span>Crear Período</span>
                           </span>
                        </button>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                     </div>
                  </div>

                  <div class="col-xl-12">

                     <div class="form-group m-form__group row align-items-center">
                        <div class="col-md-3">
                           <div class="m-form__group m-form__group--inline">

                                 <div class="m-input-icon m-input-icon--left">

                                       <input formControlName="year" type="text" (input)="validSearch($event.target.value)"
                                          class="form-control m-input" placeholder="Buscar año ...">

                                       <span class="m-input-icon__icon m-input-icon__icon--left">
                                          <span>
                                             <i class="la la-search"></i>
                                          </span>
                                       </span>
                                    </div>
                           </div>
                           <div class="d-md-none m--margin-bottom-10"></div>
                        </div>

                     </div>

                  </div>
               </div>
            </form>
         </div>
         <!-- FIN FILTRO/BUSQUEDA -->


      <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

         <table class="cw-table">
            <thead>
               <tr>
                  <th class="center">#</th>
                  <th>Año</th>
                  <th>Semestre</th>
                  <th>Creado</th>
                  <th>Actualizado</th>
                  <th class="center">Acciones</th>
               </tr>
            </thead>

            <tbody>
               <tr *ngFor="let calendar of calendars; let i=index">
                  <td>{{i+1}}</td>
                  <td class="nowrap">{{calendar.year}}</td>
                  <td>{{calendar.semester}}</td>
                  <td class="nowrap">{{calendar.created_at | timeAgo}}</td>
                  <td class="nowrap">{{calendar.updated_at | timeAgo}}</td>
                  <td>
                     <span style="overflow:visible;position:relative;width:110px;display:block;text-align:center">
                        <a (click)="openCalendarEdit(calendar)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-edit"></i>
                        </a>
                        <a [swal]="deleteSwal" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill">
                           <i class="la la-trash"></i>
                        </a>
                        <swal #deleteSwal (confirm)="deleteCalendar(calendar.id_calendar)" [options]="SWAL_DELETE_CALENDAR"></swal>
                     </span>
                  </td>
               </tr>
            </tbody>
            <swal #successSwal [options]="SWAL_SUCCESS_DELETE_CALENDAR"></swal>
         </table>

         <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
               <ul class="m-datatable__pager-nav">

                  <li (click)="getUsersPage(1)">
                     <a title="Primera" class="m-datatable__pager-link m-datatable__pager-link--first" [ngClass]="{'m-datatable__pager-link--disabled': (from < page_size)}">
                        <i class="la la-angle-double-left"></i>
                     </a>
                  </li>

                  <li (click)="getUsersPage(page-1)">
                     <a title="Anterior" class="m-datatable__pager-link m-datatable__pager-link--prev" [ngClass]="{'m-datatable__pager-link--disabled': (from < page_size)}">
                        <i class="la la-angle-left"></i>
                     </a>
                  </li>

                  <li *ngFor="let _page of total_pages | fillArray" (click)="getUsersPage(_page)">
                     <a class="m-datatable__pager-link m-datatable__pager-link-number" [ngClass]="{'m-datatable__pager-link--active': _page == page}">{{_page}}</a>
                  </li>

                  <li (click)="getUsersPage(page+1)">
                     <a class="m-datatable__pager-link m-datatable__pager-link--next" [ngClass]="{'m-datatable__pager-link--disabled': ((from/page_size)+1)==total_pages}">
                        <i class="la la-angle-right"></i>
                     </a>
                  </li>

                  <li (click)="getUsersPage(total_pages)">
                     <a class="m-datatable__pager-link m-datatable__pager-link--next" [ngClass]="{'m-datatable__pager-link--disabled': ((from/page_size)+1)==total_pages}">
                        <i class="la la-angle-double-right"></i>
                     </a>
                  </li>
               </ul>

               <!-- INFO DE LA TABLA -->
               <div class="m-datatable__pager-info">
                  <form [formGroup]="filterForm" style="display:inline;">
                     <select formControlName="page_size" class="m-datatable__pager-size" style="width:160px" (change)="changePage(filterForm.value)">
                        <option *ngFor="let page of page_sizes" [ngValue]="page">{{page}}</option>
                     </select>
                  </form>
                  <span class="m-datatable__pager-detail">Mostrando {{total_items ? ((page-1)*page_size + 1) : 0}} -
                     {{(page_size*page > total_items) ? total_items : (page_size*page)}} de {{total_items}}
                     períodos</span>
               </div>
            </div>
      </div>
   </div>
</div>
