<div class="modal-header">
   <h4 class="modal-title">Participación en Pregunta</h4>
   <button type="button" class="close" aria-label="Close" (click)="activeModal.close(update)">
      <span aria-hidden="true">&times;</span>
   </button>
</div>

<div class="modal-body">


   <div class="m-portlet__body">


      <div class="form-group m-form__group m--margin-top-10">
         <div class="alert m-alert m-alert--default" role="alert">
            En esta sección se presentan los estudiantes que han decidido participar en responder la pregunta. A
            continuación información general de la sección.
            <br><br>
            <ul>
               <li><b>Pregunta: </b>{{question.description}}
               <li><b>Estado: </b> {{
                  (question.status == 1) ? 'Participación no iniciada' :
                  (question.status == 2 ) ? 'Participación activa' :
                  (question.status == 3) ? 'Participación detenida' :
                  'Terminada'
                  }}

                  <!-- - Otro estado como: Estudiante Seleccionado para responder. -->
                  <!-- Esperando pregunta, esperando participantes, participación detenida, estudiante seleccionado, participación finalizada -->
            </ul>
         </div>
      </div>


      <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">

         <div class="row align-items-center">
            <div class="col-xl-12">
               <div class="col-xl-12 order-1 order-xl-2 m--align-right">

                  <!-- 4 estados: (1 no iniciada), 2: activa, 3: detenida, 4: -finalizada -->
                  <!-- 1, 3 -->

                  <!-- <ng-container [ngSwitch]="question.status">
                     <p *ngSwitchCase="1">Estado: No iniciada</p>
                     <p *ngSwitchCase="2">Estado: Iniciada</p>
                     <p *ngSwitchCase="3">Estado: Detenida</p>
                     <p *ngSwitchCase="4">Estado: Terminada</p>
                  </ng-container> -->











                  <!-- <ng-container *ngIf="question" [ngSwitch]="question.status">
                        <button *ngSwitchCase="'1'" type="button" (click)="updateClassQuestionStatus(2)" style="color: #ffffff; margin-left: 10px;"
                           class="btn btn-success m-btn m-btn--custom m-btn--air m-btn--pill">
                           <span>
                              <span>Iniciar Clase</span>
                           </span>
                        </button>

                        <button *ngSwitchCase="'3'" type="button" (click)="updateClassQuestionStatus(1)" style="color: #ffffff; margin-left: 10px;"
                           class="btn btn-warning m-btn m-btn--custom m-btn--air m-btn--pill">
                           <span>
                              <span>Reiniciar Clase</span>
                           </span>
                        </button>

                        <button *ngSwitchCase="'2'" type="button" (click)="updateClassQuestionStatus(3)" style="color: #ffffff; margin-left: 10px;"
                           class="btn btn-danger m-btn m-btn--custom m-btn--air m-btn--pill">
                           <span>
                              <span>Finalizar Clase</span>

                           </span>
                        </button>
                     </ng-container>
 -->



                  <ng-container *ngIf="question && !student_selected;" [ngSwitch]="question.status">

                     <button *ngSwitchDefault type="button" (click)="updateClassQuestionStatus(2)" style="color: #ffffff; margin-left: 10px;"
                        class="btn btn-success m-btn m-btn--custom m-btn--air m-btn--pill">
                        <span>
                           <span>Iniciar Participación</span>
                        </span>
                     </button>

                     <!-- <button *ngSwitchCase="'3'" type="button" (click)="updateClassQuestionStatus(1)" style="color: #ffffff; margin-left: 10px;"
                        class="btn btn-warning m-btn m-btn--custom m-btn--air m-btn--pill">
                        <span>
                           <span>Iniciar Participación</span>
                        </span>
                     </button> -->


                     <button *ngSwitchCase="'2'" type="button" (click)="updateClassQuestionStatus(3)" style="color: #ffffff; margin-left: 10px;"
                        class="btn btn-danger m-btn m-btn--custom m-btn--air m-btn--pill">
                        <span>
                           <span>Detener Participación</span>
                        </span>
                     </button>

                     <button *ngSwitchCase="'3'" type="button" (click)="updateClassQuestionStatus(2)" style="color: #ffffff; margin-left: 10px;"
                        class="btn btn-success m-btn m-btn--custom m-btn--air m-btn--pill">
                        <span>
                           <span>Reanudar Participación</span>
                        </span>
                     </button>

                     <button *ngSwitchCase="'4'" type="button" [swal]="deleteSwal" style="color: #ffffff; margin-left: 10px;"
                        class="btn btn-warning m-btn m-btn--custom m-btn--air m-btn--pill">
                        <span>
                           <span>Reiniciar Participación</span>
                        </span>
                     </button>

                     <swal #deleteSwal (confirm)="updateClassQuestionStatus(1)" [options]="SWAL_DELETE_PARTICIPATION"></swal>

                     <!-- (click)="updateClassQuestionStatus(1)" -->
                  </ng-container>
                  <swal #successSwal [options]="SWAL_SUCCESS_DELETE_PARTICIPATION"></swal>

                  <button *ngIf="question.status == 3" type="button" (click)="updateClassQuestionStatus(4)" style="color: #ffffff; margin-left: 10px;"
                     class="btn btn-danger m-btn m-btn--custom m-btn--air m-btn--pill">
                     <span>
                        <span>Finalizar Pregunta</span>
                     </span>
                  </button>




                  <!--
                  <button type="button" (click)="initParticipation(question_status)" style="color: #ffffff; margin-left: 10px;"
                     class="btn btn-primary m-btn m-btn--custom m-btn--air m-btn--pill">
                     <span>
                        <span> {{ question_status == 1 ? 'Iniciar' : question_status == 2 ? 'Detener' : 'Volver a
                           Abrir'}} Participación</span>
                     </span>
                  </button>
               -->

               </div>
               <br>
            </div>

         </div>

      </div>


      <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">

         <table class="cw-table">
            <thead>
               <tr>
                  <th></th>
                  <th></th>
                  <th>Total Preguntas</th>
                  <th>Participa</th>
                  <th>No Participa</th>
                  <th>Correctas</th>
                  <th>Incorrectas</th>
                  <th>No Seleccionado</th>
                  <th class="center">Estado</th>
                  <th class="center" *ngIf="question.status != 4">Acciones</th>
               </tr>
            </thead>
            <tbody>

               <ng-container *ngIf="!student_selected; else studentSelected">
                  <ng-container *ngFor="let student of data_participants; let i=index">

                     <!--  *ngIf=((student_selected && student.selected) || !) -->
                     <tr class="student">
                        <td>{{i+1}}</td>
                        <td class="nowrap">{{student.name}} {{student.last_name}} {{student.middle_name}}</td>
                        <td colspan="6"></td>
                        <td class="center"> -- </td>
                        <td *ngIf="question.status != 4">
                           <span style="overflow:visible;position:relative;width:110px;display:block;text-align:center">
                              <button (click)="selectStudentToAnswer(student)" [ngClass]="{'btn-success': question.status == 3}"
                                 class="btn m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill" [disabled]="question.status != 3">
                                 <i class="la la-play"></i>
                              </button>
                           </span>
                        </td>
                     </tr>

                     <tr>
                        <td></td>
                        <td>Semestre</td>
                        <td class="center">2</td>
                        <td class="center">2</td>
                        <td class="center">3</td>
                        <td class="center">5</td>
                        <td class="center">8</td>
                        <td class="center">9</td>
                        <td colspan="2"></td>
                     </tr>
                     <tr>
                        <td></td>
                        <td>Clase</td>
                        <td class="center">2</td>
                        <td class="center">2</td>
                        <td class="center">3</td>
                        <td class="center">5</td>
                        <td class="center">8</td>
                        <td class="center">9</td>
                        <td colspan="2"></td>
                     </tr>
                  </ng-container>
               </ng-container>


               <!-- Objeto student o data_participants[] -->
               <ng-template #studentSelected>
                  <tr class="student">
                     <td> 1 </td>
                     <td class="nowrap"> {{student_selected.name}} {{student_selected.last_name}}</td>
                     <td colspan="6"></td>
                     <td class="center">{{winner_student ? 'Ganador' : 'Seleccionado para responder'}} </td>
                     <td>
                        <span *ngIf="!winner_student; else winner" style="overflow:visible;position:relative;width:110px;display:block;text-align:center">
                           <!-- <button (click)="selectStudentToAnswer(student)" [ngClass]="{'btn-success': question.status == 3}"
                              class="btn m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill" [disabled]="question.status != 3">
                              <i class="la la-play"></i>
                           </button> -->
                           <button (click)="successAnswer()">Correcto</button>
                           <button (click)="incorrectAnswer()">Incorrecto</button>
                           <button (click)="cancelStudentSelected()">Cancelar</button>
                        </span>

                        <ng-template #winner>
                           Finalizando pregunta en: {{contador_finalizar_pregunta}}
                           <button (click)="cancelWinnerStudent()">Cancelar</button>

                        </ng-template>
                     </td>
                  </tr>
                  <tr>
                     <td></td>
                     <td>Semestre</td>
                     <td class="center">2</td>
                     <td class="center">2</td>
                     <td class="center">3</td>
                     <td class="center">5</td>
                     <td class="center">8</td>
                     <td class="center">9</td>
                     <td colspan="2"></td>
                  </tr>
                  <tr>
                     <td></td>
                     <td>Clase</td>
                     <td class="center">2</td>
                     <td class="center">2</td>
                     <td class="center">3</td>
                     <td class="center">5</td>
                     <td class="center">8</td>
                     <td class="center">9</td>
                     <td colspan="2"></td>
                  </tr>
               </ng-template>
            </tbody>

            <!--
            <tbody>
               <tr *ngFor="let question of data_questions; let i=index">
                  <td>{{i+1}}</td>
                  <td class="nowrap">{{question.description}}</td>
                  <td>{{question.category}}</td>
                  <td>{{question.subcategory}}</td>
                  <td>{{question.difficulty}}</td>
                  <td>{{question.updated_at}}</td>
                  <td>
                     <div style="width: 50%; cursor: pointer;" (click)="changeAvailabiltyLessonQuestion(question)">
                        <img *ngIf="question.added; else blank" src="assets/images/checked.svg" alt="">
                        <ng-template #blank>
                           <img src="assets/images/blank.svg" alt="">
                        </ng-template>
                     </div>
                  </td>



               </tr>
               <swal #successSwal [options]="SWAL_SUCCESS_DELETE_QUESTION"></swal>
            </tbody>
         -->
         </table>





      </div>


   </div>
</div>

<div class="modal-footer">
   <button type="button" class="btn btn-info" (click)="activeModal.close(update)">Cerrar</button>
   <!-- <button type="submit" (click)="updateLessonQuestions()" class="btn btn-info" [disabled]="question.status == 1">Finalizar
      Pregunta</button> -->
</div>
