<div class="modal-header">
      <h4 class="modal-title">Crear Asignatura</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>

   <form [formGroup]="subjectForm" (ngSubmit)="createSubject(subjectForm.value)" class="m-form m-form--state m-form--label-align-right">
      <div class="modal-body">
         <div class="m-portlet__body">
            <div [ngClass]="{'form-group m-form__group' : true, 'has-danger' : subjectForm.controls.name.invalid && subjectForm.controls.name.touched }">
               <label class="form-control-label">Nombre:</label>
               <input type="text" class="form-control m-input" formControlName="name" autocomplete="nope">
               <!--===================== ERRORES DE NOMBRE =====================-->
               <div class="form-control-feedback" *ngIf="subjectForm.controls['name'].hasError('required') && (subjectForm.controls['name'].dirty || subjectForm.controls['name'].touched)">
                  Este campo es requerido.
               </div>
               <!-- FIN ERRORES DE NOMBRE -->
            </div>

         </div>

      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-info" (click)="activeModal.close()">Cerrar</button>
         <button type="submit" class="btn btn-info" [disabled]="subjectForm.invalid">Crear</button>
      </div>
   </form>
